#root {
  width: 100%;
  margin: 0 auto;  
  padding: 2rem;
  text-align: center;
  height: 100vh; 
  background-color: #eeeded;
}

.page {
  width: 85%;
  margin: 0 auto;  
  padding: 2rem;
  text-align: center;
  height: 80vh; 
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.breadcrumbs {
  position: absolute;
  top: 20px;
  font-size: 14px;
  color: #2563eb;
}

footer {
  position: sticky;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: white;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
}