#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  background-color: #eeeded;
}

.page {
  width: 85%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  height: 100%;
  background-color: #eeeded;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

label.required::after {
  content: " *";
  /* Adds a space and the asterisk after the label */
  color: red;
  /* Colors the asterisk red */
  margin-left: 2px;
  /* Optional: adjust spacing */
}

.form-input {
  width: 90%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.certify-input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal {
  border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: #fff;
}

.breadcrumbs {
  position: absolute;
  top: 20px;
  font-size: 14px;
  color: #2563eb;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
  background-color: #686666;
  color: white;
  border-top: 1px solid #ddd;
  z-index: 1000;
}